.sidebar {
  width: 250px;
  height: 100vh;
  background: #1f2937;
  color: white;
  position: fixed;
  top: 0;
  left: 0;
  transition: transform 0.3s ease;
  z-index: 1000;
  overflow-y: auto;
}


.sidebar.desktop {
  transform: translateX(0);
}

.sidebar.desktop.closed {
  transform: translateX(-100%);
}


.sidebar.mobile {
  transform: translateX(-100%);
}

.sidebar.mobile.open {
  transform: translateX(0);
}


.logo {
  padding: 20px;
  margin-left:7px;
  font-size: 1.9rem;
}

.nav-links {
  list-style: none;
  padding: 0;
}

.nav-links li a {
  display: block;
  padding: 15px 20px;
  color: white;
  text-decoration: none;
}

.nav-links li a.active {
 background-color: #3b82f6; 
  border-radius: 2px;
  padding-left: 10px;
}